.well {
  margin: 0;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-wrapper {
    gap: 10px;
  }

  &-collapsible {
    margin-left: 12px;
    border-radius: 8px;
  }
}

fa-icon {
  font-size: 18px;
  transition: 0.4s linear all;

  &:hover {
    color: #f97924;
  }
}
