.well {
  margin: 0;
  padding: 0;
  &-title {
    transition: 0.4s linear all;

    fa-icon {
      margin-left: 10px;
      color: #f97924;
    }
  }

  &-title:hover {
    transform: scale(1.04);
  }
}

.row {
  display: flex;
  align-items: flex-start;
  margin: 12px 0;
}

.container {
  &-vote {
    width: 5%;
  }

  &-well {
    width: 95%;
  }
}
