<div class="row" *ngFor="let session of visibleSessions">
  <div *ngIf="auth.isAuthenticated()" class="container-vote">
    <upvote
      (vote)="toggleVote(session)"
      [count]="session.voters.length"
      [voted]="userHasVoted(session)"
    ></upvote>
  </div>
  <div class="container-well">
    <collapsible-well>
      <div class="well-title">
        <span>{{ session.name }}</span>
        <fa-icon
          *ngIf="session.voters.length > 2"
          [icon]="faFire"
          title="On Fiiiiiiiiiiiiire!"
        ></fa-icon>
      </div>
      <div well-body>
        <h6>{{ session.presenter }}</h6>
        <span>Duration: {{ session.duration | duration }} </span><br />
        <span>Level: {{ session.level }}</span>
        <p>{{ session.abstract }}</p>
      </div>
    </collapsible-well>
  </div>
</div>
