<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Events DB</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a
            [routerLink]="['/events']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >All Events</a
          >
        </li>
        <li>
          <a [routerLink]="['/events/new']" routerLinkActive="active"
            >Create Event</a
          >
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Events
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="" routerLinkActive="active">Angular Connect</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a
              [routerLink]="['user/login']"
              routerLinkActive="active"
              *ngIf="!auth.isAuthenticated()"
              >Login</a
            >
            <a
              [routerLink]="['user/profile']"
              routerLinkActive="active"
              *ngIf="auth.isAuthenticated()"
              >Welcome, {{ auth.currentUser.firstName }}</a
            >
          </li>
        </ul>
      </div>
      <form
        id="searchForm"
        (ngSubmit)="searchSessions(searchTerm)"
        class="navbar-form navbar-right"
      >
        <div class="form-group">
          <input
            [(ngModel)]="searchTerm"
            name="searchTerm"
            type="text"
            class="form-control"
            placeholder="Search sessions"
          />
        </div>
        <!-- With the directive "modal-trigger" we can attach new functionality to an existing DOM node
        Specifign "searchResults, we are binding the modal-trigger for this particular modal dialog box "-->
        <button
          class="btn btn-default"
          style="margin-left: 12px"
          modal-trigger="searchResults"
        >
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
<!-- elementId is an input property -->
<simple-modal
  elementId="searchResults"
  closeOnBodyClick="true"
  title="Matching sessions"
>
  <div class="list-group">
    <a
      class="list-group-item"
      *ngFor="let session of foundSessions"
      [routerLink]="['/events', session.eventId]"
    >
      {{ session.name }}
    </a>
  </div>
</simple-modal>
