.container-label {
  display: flex;
  justify-content: space-between;

  > em {
    color: #f97924;
    font-size: 14px;
  }

  > label {
    font-size: 14px;
  }
}

.error {
  input {
    background-color: #e3c3c5;
  }

  &::placeholder {
    color: #999;
  }
}
