.container-label {
  display: flex;
  justify-content: space-between;

  > em {
    color: #f97924;
    font-size: 14px;
  }

  > label {
    font-size: 14px;
  }
}

.error {
  input,
  select,
  textarea {
    background-color: #e3c3c5;

    &::placeholder {
      color: #575757;
    }
  }
}

.highlight {
  font-size: 32px;
  color: #161616;
}