<div class="container">
  <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image" />

  <div class="row">
    <div class="col-md-11">
      <h2>{{ event?.name }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p><strong>Date:</strong> {{ event?.date }}</p>
      <p><strong>Time:</strong> {{ event?.time }}</p>
      <p><strong>Price:</strong> ${{ event?.price }}</p>
    </div>
    <div class="col-md-6">
      <address *ngIf="event?.location">
        <strong>Address:</strong><br />
        {{ event?.location?.address }}<br />
        {{ event?.location?.city }}, {{ event?.location?.country }}
      </address>
      <p [hidden]="!event?.onlineUrl">
        Online URL:<a [href]="event?.onlineUrl" class="pad-left">{{
          event?.onlineUrl
        }}</a>
      </p>
    </div>
  </div>

  <hr />
  <div class="header">
    <h3 *ngIf="!addMode">Sessions:</h3>

    <a *ngIf="!addMode" (click)="addSession()">Add session</a>
  </div>

  <session-list *ngIf="!addMode" [sessions]="event?.sessions"></session-list>
  <create-session
    *ngIf="addMode"
    (saveNewSession)="saveNewSession($event)"
  ></create-session>
</div>
